<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-usuario.xhtml">
	<ui:define name="titulo">
		#{msgs.listado_privado_form_title}
	</ui:define>
	<ui:define name="cuerpo">
		<ui:include src="/snippets/trip-list-privado.xhtml"/>
	</ui:define>
	<ui:define name="pie">
		<ui:include src="/snippets/pie-publico.xhtml"/>
	</ui:define>
</ui:composition>