<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<center>
	<p:panelGrid id="Grid" columns="2" cellpadding="5">
		#{msgs.login_form_name_label}: 
		<h:panelGroup>
			<p:inputText id="name" value="#{login.name}" required="true"
				requiredMessage="#{msgs.login_form_name_required}" />
			<p:message for="name" />
		</h:panelGroup>
  
		#{msgs.login_form_password_label}: 
		<h:panelGroup>
			<p:password id="password" value="#{login.password}" required="true"
				requiredMessage="#{msgs.login_form_password_required}" />
			<p:message for="password" />
		</h:panelGroup>

		<h:outputText id="msgAlta" value="#{msgs[login.result]}" />
		<p:commandButton id="entrar" value="#{msgs.login_form_button_send}"
			action="#{controller.iniciarSesion}" update="Grid" process="@form">
		</p:commandButton>
	</p:panelGrid>
	</center>

</ui:composition>