<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<p:menubar id="mimenu">
		<p:submenu id="misubmenu1" label="#{msgs.tituloOpciones}"
			icon="ui-icon-document">
			<p:menuitem id="linklistado" value="#{msgs.enlaceListado}"
				action="#{controller.listadoPublico}" />
			<p:separator />
			<p:menuitem id="linkalta" value="#{msgs.enlaceAlta}" action="alta" />
			<p:separator/>
			<p:menuitem id="linklogin" value="#{msgs.menu_login}" action="login" />
		</p:submenu>
		<p:submenu id="submenuIdioma" style="float:right" label="#{msgs.textoIdioma}"
			icon="ui-icon-document">
			<p:menuitem id="linkespa" value="#{msgs.enlaceIdiomaES}"
				actionListener="#{settings.setSpanish}" update="@all" />
			<p:menuitem id="linkingles" value="#{msgs.enlaceIdiomaEN}"
				actionListener="#{settings.setEnglish}" update="@all" />
		</p:submenu>
	</p:menubar>
</ui:composition>