<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<center>
		<p:commandButton value="#{msgs.editarLink}" action="#{viajePromo.setTrip(pasajeros.trip)}"/>
	</center>
	
	<p:panel id="main">
		<p:dataTable id="tablaAdmitido" var="vuser"
			value="#{pasajeros.listaPasajeros.confirmados}" border="1">
			<f:facet name="header">
        		#{msgs.admitidos}
   		 	</f:facet>
			<p:column>
				<f:facet name="header">#{msg.tablaID}</f:facet>#{vuser.id}
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.tablaNombre}</f:facet>#{vuser.name}
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.tablaApellidos}</f:facet>#{vuser.surname}
			</p:column>
			<p:column>
				<p:commandLink action="#{pasajeros.expulsar(vuser)}" type="submit"
					value="#{msgs.cancelarAsistencia}" immediate="true" update="@all">
				</p:commandLink>
			</p:column>
		</p:dataTable>
		<br />

		<p:dataTable id="tablaNoAdmitido" var="vuser"
			value="#{pasajeros.listaPasajeros.noConfirmados}" border="1">
			<f:facet name="header">
        		#{msgs.noAdmitidos}
   		 	</f:facet>
			<p:column>
				<f:facet name="header">#{msg.tablaID}</f:facet>#{vuser.id}
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.tablaNombre}</f:facet>#{vuser.name}
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.tablaApellidos}</f:facet>#{vuser.surname}
			</p:column>
			<p:column>
				<p:commandLink action="#{pasajeros.confirmarPasajero(vuser)}"
					type="submit" value="#{msgs.confirmarAsistencia}" immediate="true"
					update="@all" rendered="#{pasajeros.trip.disponible()}">
				</p:commandLink>
			</p:column>
		</p:dataTable>
		<br />
	</p:panel>
	
	<center>
		<h:outputText value="#{msgs.plazasLibres} = #{pasajeros.trip.availablePax}"/>
	</center>
</ui:composition>