<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="form-pie">
		<p:separator />
		<!-- <p:commandLink value="#{msgs.enlaceCasa}" action="/opciones.xhtml">
		</p:commandLink>-->
	</h:form>
</ui:composition>