<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<center>
	<p:panelGrid id="Grid" columns="2" cellpadding="5">	
	    #{msgs.registro_form_login} 
	    <h:panelGroup>
			<p:inputText value="#{user.login}" required="true"
				requiredMessage="#{msgs.formRegistro_login_requiredMessage}"
				validatorMessage="#{msgs.formRegistro_login_validatorMessage}"
				id="login">
				<f:validateLength minimum="5" maximum="15" />
				<f:validator validatorId="emailValidator"/>
			</p:inputText>
			<p:message for="login" />
		</h:panelGroup>
		
		#{msgs.registro_form_nombre} 
		<h:panelGroup>
			<p:inputText value="#{user.name}" required="true"
				requiredMessage="#{msgs.formRegistro_nombre_requiredMessage}"
				validatorMessage="#{msgs.formRegistro_nombre_validatorMessage}"
				id="nombre">
				<f:validateLength maximum="20" />
			</p:inputText>
			<p:message for="nombre" />
		</h:panelGroup>
  
		#{msgs.registro_form_apellidos} 
		<h:panelGroup>
			<p:inputText value="#{user.surname}" required="true"
				requiredMessage="#{msgs.formRegistro_apellidos_requiredMessage}"
				validatorMessage="#{msgs.formRegistro_apellidos_validatorMessage}"
				id="apellidos">
				<f:validateLength maximum="40" />
			</p:inputText>
			<p:message for="apellidos" />
		</h:panelGroup>
  
  
		#{msgs.registro_form_correo}
		<h:panelGroup>
			<p:inputText value="#{user.email}" required="true"
				requiredMessage="#{msgs.formRegistro_correo_requiredMessage}"
				validatorMessage="#{msgs.formRegistro_correo_validatorMessage}"
				id="correo">
				<f:validateRegex pattern=".+@.+\.[a-z]+" />
			</p:inputText>
			<p:message for="correo" />
		</h:panelGroup>
		
		#{msgs.registro_form_password}
		<h:panelGroup>
			<p:password value="#{user.password}" required="true"
				requiredMessage="#{msgs.formRegistro_password_requiredMessage}"
				validatorMessage="#{msgs.formRegistro_password_validatorMessage}"
				match="reenterPassword" id="password">
				<f:validateLength minimum="5" maximum="20" />
			</p:password>
			<p:message for="password" />
		</h:panelGroup>
		
		#{msgs.registro_form_reenterPassword}
		<h:panelGroup>
			<p:password value="#{user.password}" required="true"
				requiredMessage="#{msgs.formRegistro_reenterPassword_validatorMessage}"
				validatorMessage="#{msgs.formRegistro_reenterPassword_validatorMessage}"
				id="reenterPassword">
			</p:password>
			<p:message for="reenterPassword" />
		</h:panelGroup>

		<p:commandButton id="registro" value="#{msgs.registro_form_botonRegistrarse}"
			action="#{controller.registroUsuario}" update="Grid" process="@form">
		</p:commandButton>

	</p:panelGrid>
	</center>
</ui:composition>