<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<p:dataTable id="tablalistado" var="trip"
		value="#{controller.viajesPromotor}" border="1"
		selection="#{controller.viajesSeleccionados}" rowKey="#{trip.id}">
		<p:column selectionMode="multiple"
			style="width:16px;text-align:center" />

		<p:columnGroup type="header">
			<p:row>
			<p:column selectionMode="multiple"
			style="width:16px;text-align:center" />
				<p:column headerText="#{msgs.listado_form_tablaID}" />
				<p:column headerText="#{msgs.listado_form_tablaDepartureCity}" />
				<p:column headerText="#{msgs.listado_form_tablaDestinationCity}" />
				<p:column headerText="#{msgs.listado_form_tablaDepartureDate}" />
				<p:column headerText="#{msgs.listado_form_tablaArrivalDate}" />
				<p:column headerText="#{msgs.listado_form_tablaClosingDate}"/>
			</p:row>
		</p:columnGroup>

		<p:column>#{trip.id}</p:column>
		<p:column>#{trip.departure.city}</p:column>
		<p:column>#{trip.destination.city}</p:column>
		<p:column>#{trip.departureDate}</p:column>
		<p:column>#{trip.arrivalDate}</p:column>
		<p:column>#{trip.closingDate}	</p:column>
	</p:dataTable>
	<p:commandLink value="#{msgs.borrarViajeBoton}"
		actionListener="#{controller.cancelarViajes}" update="tablalistado">
	</p:commandLink>
</ui:composition>
<!--  <p:dataTable id="tablaPromotor" var="trip"
		value="#{controller.viajesPromotor}" border="1"
		selection="#{controller.viajesSeleccionados}" rowKey="#{trip.id}">
		<p:column selectionMode="multiple"
			style="width:16px;text-align:center" />
		<p:column>
			<f:facet name="header">#{msg.tablaID}</f:facet>#{trip.id}
			</p:column>
	</p:dataTable> 
	<p:commandLink value="#{msgs.borrarViajeBoton}" actionListener="#{controller.cancelarViajes}" update="tablaPromotor">
	</p:commandLink>-->