<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<p:panel header="#{msgs.listado_form_tituloOperacionListado}">
		<p:dataTable id="tablalistado" var="trip" value="#{controller.viajesUsuario}"
			widgetVar="tripsTable" emptyMessage="#{msgs.listado_form_tablaEmpty}"
			filteredValue="#{controller.viajesFiltrados}" scrollable="true"
			scrollWidth="99%" sortMode="multiple" border="1" rows="10"
			paginator="true" rowsPerPageTemplate="5,10,15,20"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink}
            {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
            {RowsPerPageDropdown}">

			<f:facet name="header">
				<p:outputPanel style="text-align: right">
					<h:outputText value="#{msgs.listado_form_buscarViajes}"  />
					<p:inputText id="globalFilter" 
						onkeyup="PF('tripsTable').filter()"	style="width:25%"
						placeholder="#{msgs.listado_form_buscarPlaceHolder}" />
				</p:outputPanel>
			</f:facet>

			<p:columnGroup type="header">
				<p:row>
					<p:column rowspan="2" style="width:16px">
					</p:column>
					<p:column rowspan="2" headerText="#{msgs.listado_form_tablaID}"
						sortBy="#{trip.id}" />
					<p:column rowspan="2" 
						headerText="#{msgs.listado_form_tablaDepartureCity}"
						filterBy="#{trip.departure}" 
						sortBy="#{trip.departure.city}" />
					<p:column rowspan="2" 
						headerText="#{msgs.listado_form_tablaDestinationCity}"
						filterBy="#{trip.destination}" 
						sortBy="#{trip.destination.city}" />
					<p:column colspan="3" headerText="#{msgs.listado_form_tablaDates}" />
					<p:column rowspan="2" headerText="#{msgs.listado_form_tripTipo}"/>
					<p:column rowspan="2" />					
				</p:row>
				<p:row>				
					<p:column headerText="#{msgs.listado_form_tablaDepartureDate}"
						sortBy="#{trip.departureDate}" />
					<p:column headerText="#{msgs.listado_form_tablaArrivalDate}"
						sortBy="#{trip.arrivalDate}" />
					<p:column headerText="#{msgs.listado_form_tablaClosingDate}"
						sortBy="#{trip.closingDate}" />
				</p:row>
			</p:columnGroup>
			
			<p:column style="width:16px">
				<p:rowToggler />
			</p:column>
			<p:column>#{trip.id}</p:column>
			<p:column>#{trip.departure.city}</p:column>
			<p:column>#{trip.destination.city}</p:column>		
			<p:column>
				<h:outputText value="#{trip.departureDate}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
				</h:outputText>				
			</p:column>
			<p:column>
				<h:outputText value="#{trip.arrivalDate}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
				</h:outputText>	
			</p:column>
			<p:column>
				<h:outputText value="#{trip.closingDate}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
				</h:outputText>	
			</p:column>
			<p:column>#{trip.type}</p:column>
			<p:column>
					<p:commandLink action="#{pasajeros.listadoPasajeros}" type="submit"
						actionListener="#{pasajeros.setTrip(trip)}"
						value="#{msgs.listado_form_menuPromotor}" immediate="true" update="tablalistado"
						rendered="#{trip.type eq 'PROMOTOR' and trip.isNotOver()}">
					</p:commandLink>
					<p:commandLink action="#{controller.cancelarAsistencia(trip)}" type="submit"
						value="#{msgs.listado_form_tablaCancelar}" immediate="true" update="tablalistado"
						rendered="#{trip.type ne 'PROMOTOR' and trip.isNotOver()}">
					</p:commandLink>
			</p:column>
			
			<p:rowExpansion>
				<p:panelGrid columns="3" columnClasses="label,value,value">
	                <h:outputText value="#{msgs.listado_form_tablaCampos}" 
	                			  style="font-weight:bold"/>	 
					<h:outputText value="#{msgs.listado_form_tablaDeparture}" 
								  style="font-weight:bold"/>
	                <h:outputText value="#{msgs.listado_form_tablaDestination}" 
	                			  style="font-weight:bold"/>
				
					<h:outputText value="#{msgs.listado_form_tablaCountry}" />
	                <h:outputText value="#{trip.departure.country}" />
	                <h:outputText value="#{trip.destination.country}" />
	 
	                <h:outputText value="#{msgs.listado_form_tablaState}" />
	                <h:outputText value="#{trip.departure.state}" />	                
	                <h:outputText value="#{trip.destination.state}" />
	 
	                <h:outputText value="#{msgs.listado_form_tablaAddress}" />
	                <h:outputText value="#{trip.departure.address}"/>
	                <h:outputText value="#{trip.destination.address}"/>
	 
	                <h:outputText value="#{msgs.listado_form_tablaZipCode}" />
	                <h:outputText value="#{trip.departure.zipCode}" />
	                <h:outputText value="#{trip.destination.zipCode}" />
	                
	                <h:outputText value="#{msgs.listado_form_tablaWaypoint}" />
	                <h:outputText value="#{trip.departure.waypoint}" />
	                <h:outputText value="#{trip.destination.waypoint}" />
				</p:panelGrid>
			</p:rowExpansion>
		</p:dataTable>
	</p:panel>
</ui:composition>