<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<center>
	<h:outputText value="#{msgs.cargarPlantilla}" />
    <p:selectBooleanCheckbox value="#{viajePromo.plantilla}">
    	<p:ajax update="main" listener="#{viajePromo.loadPlantilla}" />
    </p:selectBooleanCheckbox>
	
		<h:panelGroup id="main">
	#{msgs.salida}
	<p:panelGrid id="gridSalida" columns="2" cellpadding="5">
		#{msgs.direccionSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.direccion}"
						required="true"
						requiredMessage="#{msgs.viajeForm_direccionSalida_requiredMessage}"
						id="direccionSalida">
					</p:inputText>
					<p:message for="direccionSalida" />
				</h:panelGroup>
		
		#{msgs.ciudadSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.ciudad}"
						required="true"
						requiredMessage="#{msgs.viajeForm_ciudadSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_ciudadSalida_validatorMessage}"
						id="ciudadSalida">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="ciudadSalida" />
				</h:panelGroup>
		
		#{msgs.provinciaSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.provincia}"
						required="true"
						requiredMessage="#{msgs.viajeForm_provinciaSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_provinciaSalida_validatorMessage}"
						id="provinciaSalida">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="provinciaSalida" />
				</h:panelGroup>
		
		#{msgs.paisSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.pais}"
						required="true"
						requiredMessage="#{msgs.viajeForm_paisSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_paisSalida_validatorMessage}"
						id="paisSalida">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="paisSalida" />
				</h:panelGroup>
		
		#{msgs.codigoSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.cp}" required="true"
						requiredMessage="#{msgs.viajeForm_codigoSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_codigoSalida_validatorMessage}"
						id="codigoSalida">
						<f:validateRegex pattern="([0-9]*)" />
					</p:inputText>
					<p:message for="codigoSalida" />
				</h:panelGroup>
		
		#{msgs.latSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.lat}"
						required="false"
						requiredMessage="#{msgs.viajeForm_latSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_latSalida_validatorMessage}"
						id="latSalida">
						<f:validateRegex pattern="[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)?" />
					</p:inputText>
					<p:message for="latSalida" />
				</h:panelGroup>
		
		#{msgs.lonSalida}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.departureMap.lon}"
						required="false"
						requiredMessage="#{msgs.viajeForm_lonSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_lonSalida_validatorMessage}"
						id="lonSalida">
						<f:validateRegex pattern="[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)?" />
					</p:inputText>
					<p:message for="lonSalida" />
				</h:panelGroup>
			</p:panelGrid>
	
	#{msgs.llegada}
	<p:panelGrid id="gridLlegada" columns="2" cellpadding="5">
		#{msgs.direccionLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.direccion}"
						required="true"
						requiredMessage="#{msgs.viajeForm_direccionLlegada_requiredMessage}"
						id="direccionLlegada">
					</p:inputText>
					<p:message for="direccionLlegada" />
				</h:panelGroup>
		
		#{msgs.ciudadLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.ciudad}"
						required="true"
						requiredMessage="#{msgs.viajeForm_ciudadLlegada_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_ciudadLlegada_validatorMessage}"
						id="ciudadLlegada">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="ciudadLlegada" />
				</h:panelGroup>
		
		#{msgs.provinciaLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.provincia}"
						required="true"
						requiredMessage="#{msgs.viajeForm_provinciaLlegada_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_provinciaLlegada_validatorMessage}"
						id="provinciaLlegada">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="provinciaLlegada" />
				</h:panelGroup>
		
		#{msgs.paisLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.pais}"
						required="true"
						requiredMessage="#{msgs.viajeForm_paisLlegada_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_paisLlegada_validatorMessage}"
						id="paisLlegada">
						<f:validateRegex pattern="([ a-zA-Zñáéíóúàèìòù]*)" />
					</p:inputText>
					<p:message for="paisLlegada" />
				</h:panelGroup>
		
		#{msgs.codigoLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.cp}"
						required="true"
						requiredMessage="#{msgs.viajeForm_codigoLlegada_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_codigoLlegada_validatorMessage}"
						id="codigoLlegada">
					<f:validateRegex pattern="([0-9]*)" />
					</p:inputText>
					<p:message for="codigoLlegada" />
				</h:panelGroup>
		
		#{msgs.latLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.lat}"
						required="false"
						validatorMessage="#{msgs.viajeForm_latLlegada_validatorMessage}"
						id="latLlegada">
					<f:validateRegex pattern="[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)?" />
					</p:inputText>
					<p:message for="latLlegada" />
				</h:panelGroup>
		
		#{msgs.lonLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.destinationMap.lon}"
						required="false"
						validatorMessage="#{msgs.viajeForm_lonLlegada_validatorMessage}"
						id="lonLlegada">
					<f:validateRegex pattern="[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)?" />
					</p:inputText>
					<p:message for="lonLlegada" />
				</h:panelGroup>
			</p:panelGrid>
	
		#{msgs.horarios}
		<p:panelGrid id="gridHorarios" columns="2" cellpadding="5">
			#{msgs.horaSalida}
			<h:panelGroup>
					<p:inputText value="#{viajePromo.departureDate}" required="true"
						requiredMessage="#{msgs.viajeForm_horaSalida_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_horaSalida_validatorMessage}"
						id="horaSalida">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</p:inputText>
					<p:message for="horaSalida" />
				</h:panelGroup>
		
		#{msgs.horaLlegada}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.arrivalDate}" required="true"
						requiredMessage="#{msgs.viajeForm_horaLlegada_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_horaLlegada_validatorMessage}"
						id="horaLlegada">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</p:inputText>
					<p:message for="horaLlegada" />
				</h:panelGroup>
		
		#{msgs.horaLimite}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.closingDate}" required="true"
						requiredMessage="#{msgs.viajeForm_horaLimite_requiredMessage}"
						validatorMessage="#{msgs.viajeForm_horaLimite_validatorMessage}"
						id="horaLimite">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</p:inputText>
					<p:message for="horaLimite" />
				</h:panelGroup>
			</p:panelGrid>
	
	#{msgs.costes}
	<p:panelGrid id="gridCoste" columns="2" cellpadding="5">
		#{msgs.costeAprox}
		<h:panelGroup>
					<p:spinner id="costeAprox" value="#{viajePromo.estimatedCost}"
						prefix="#{msgs.moneda}" min="0.00" stepFactor="0.50" />
					<p:message for="costeAprox" />
				</h:panelGroup>
			</p:panelGrid>
	
	#{msgs.comentarios}
	<p:panelGrid id="gridComentarios" columns="2" cellpadding="5">
		#{msgs.comentariosTexto}
		<h:panelGroup>
					<p:inputText value="#{viajePromo.comments}" id="comentariosTexto">
					</p:inputText>
				</h:panelGroup>
			</p:panelGrid>
	
	#{msgs.plazas}
	<p:panelGrid id="gridPlazas" columns="2" cellpadding="5">
		#{msgs.plazasTotales}
		<h:panelGroup>
					<p:spinner id="plazasTotales" value="#{viajePromo.maxPax}"
						min="0" />
					<p:message for="plazasTotales" />
				</h:panelGroup>
		
		#{msgs.plazasDisponibles}
		<h:panelGroup>
					<p:spinner id="plazasDisponibles" value="#{viajePromo.availablePax}"
						min="0" />
					<p:message for="plazasDisponibles" />
				</h:panelGroup>
			</p:panelGrid>
		</h:panelGroup>
	</center>
	<center>
		<p:commandButton id="registrarViaje" value="#{msgs.botonRegistrar}"
			action="#{controller.registroViaje}" update="main" process="@form">
		</p:commandButton>
	</center>
</ui:composition>